[[extend 'layout.html']]

<section class="section">
  <div class="title">Phone Numbers for [[=name]]</div>
    <!-- Complete -->
    <table class="table is-striped is-fullwidth">
    <tr>
      <th>Phone</th>
      <th>Kind</th>
      <th></th>
    </tr>
    [[for row in rows:]]
    <tr>
      <td>[[=row.phone]]</td>
      <td>[[=row.kind]]</td>
      <td>
          <a class="button is-warning" href="[[=URL('edit_phone', row.person_id, row.id)]]"><i class="fa fa-edit" aria-hidden="true"></i></a>
          <a class="button is-danger" href="[[=URL('delete_phone', row.person_id, row.id, signer=url_signer)]]"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    [[pass]]
  </table>
   <a class="button is-success" href="[[=URL('index')]]"><i class="fa fa-backward" aria-hidden="true"></i>Back</a>
   <a class="button is-primary" href="[[=URL('add_phone',person_id)]]"><i class="fa fa-plus" aria-hidden="true"></i>Add Phone Number</a>
</section>